BuddyWingStatus/Service References/PathServiceClient/PathService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Buddy.Tor.NavService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Buddy.Tor.NavService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PathStartEndCompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" nillable="true" type="tns:PathHopCompositeType" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="tns:PathHopCompositeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PathStartEndCompositeType" nillable="true" type="tns:PathStartEndCompositeType" />
  <xs:complexType name="PathHopCompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flags" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="X" type="xs:float" />
      <xs:element minOccurs="0" name="Y" type="xs:float" />
      <xs:element minOccurs="0" name="Z" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PathHopCompositeType" nillable="true" type="tns:PathHopCompositeType" />
  <xs:complexType name="PathCompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathHops" nillable="true" type="tns:ArrayOfPathHopCompositeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PathCompositeType" nillable="true" type="tns:PathCompositeType" />
  <xs:complexType name="ArrayOfPathHopCompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PathHopCompositeType" nillable="true" type="tns:PathHopCompositeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPathHopCompositeType" nillable="true" type="tns:ArrayOfPathHopCompositeType" />
</xs:schema>