BuddyWingStatus/Service References/PathServiceClient/PathService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nav.buddywing.com:8723/PathService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Buddy.Tor.NavService" />
  <xs:element name="GetPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="area" type="xs:unsignedLong" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Buddy.Tor.NavService" minOccurs="0" name="pathPoints" nillable="true" type="q1:PathStartEndCompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Buddy.Tor.NavService" minOccurs="0" name="GetPathResult" nillable="true" type="q2:PathCompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>